@font-face {
  font-family: 'Roboto-Regular';
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Roboto-Medium';
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
}

@font-face {
  font-family: 'RobotoCondensed-Medium';
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/RobotoCondensed-Medium.woff2") format("woff2"), url("../fonts/RobotoCondensed-Medium.woff") format("woff");
}

@font-face {
  font-family: 'RobotoCondensed-Bold';
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/RobotoCondensed-Bold.woff2") format("woff2"), url("../fonts/RobotoCondensed-Bold.woff") format("woff");
}

@font-face {
  font-family: 'Dosis-Medium';
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Dosis-Medium.woff2") format("woff2"), url("../fonts/Dosis-Medium.woff") format("woff");
}

@font-face {
  font-family: 'Dosis-Light';
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Dosis-Light.woff2") format("woff2"), url("../fonts/Dosis-Light.woff") format("woff");
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  border: none;
  padding: 0;
  cursor: pointer;
}

li {
  list-style: none;
}

.body {
  min-width: 320px;
  overflow-x: hidden;
  font-family: 'Roboto-Regular', 'Aria', 'san-serif';
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.container {
  padding: 0 20px;
}

@media (min-width: 640px) {
  .container {
    padding: 0 30px;
  }
}

@media (min-width: 768px) {
  .container {
    padding: 0 40px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1320px;
  }
}

.header {
  background-color: #2B4074;
}

.header__inner {
  min-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

@media (min-width: 640px) {
  .header__inner {
    min-height: 100px;
  }
}

.logo__link-img {
  margin: 7px;
}

@media (min-width: 640px) {
  .logo__link-img {
    margin: 17px;
  }
}

@media (min-width: 768px) {
  .logo__link-img {
    margin-left: 0px;
  }
}

.menu__btn {
  margin: 20px 0;
  width: 40px;
  height: 40px;
  border-radius: 3px;
  background-color: #fff;
  position: relative;
}

.menu__btn::after {
  content: "";
  width: 13px;
  height: 2px;
  border-radius: 1px;
  background-color: #2B4074;
  position: absolute;
  top: 15px;
  left: 14px;
  -webkit-box-shadow: 0 4px 0 0 #2B4074, 0 8px 0 0 #2B4074;
          box-shadow: 0 4px 0 0 #2B4074, 0 8px 0 0 #2B4074;
}

@media (min-width: 640px) {
  .menu__btn {
    margin: 30px 0;
  }
}

@media (min-width: 1440px) {
  .menu__btn {
    margin: 30px 80px 30px 0;
  }
}

.head {
  background-image: url("../images/bg-head.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 193px;
}

.top-slider {
  background: rgba(33, 33, 33, 0.5);
}

.top-slider__item {
  color: #fff;
}

.top-slider__title {
  text-align: center;
}
