@import "vars";
@import "fonts";

html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
	outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	border: none;
	padding: 0;
	cursor: pointer;
}

ul,
li {
	padding: 0;
	margin: 0;
	list-style: none;
}

p {
	margin: 0;
}

.body {
	min-width: 320px;
	overflow-x: hidden;
	font-family: "Roboto-Regular", "Aria", "san-serif";
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	color: $default-color;
}

.container {
	padding: 0 20px;
}

@media (min-width: 640px) {
	.container {
		padding: 0 30px;
	}
}

@media (min-width: 768px) {
	.container {
		padding: 0 40px;
	}
}

@media (min-width: 1024px) {
	.container {
		max-width: 1200px; // Для экранов размера > 1024 и < 1440 делаем тут красоту (1360 например)
		margin: 0 auto;
	}
}

@media (min-width: 1440px) {
	.container {
		max-width: 1320px;
	}
}