@import 'vars';
@import 'fonts';


html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
	outline: none;
}

a {
	text-decoration: none;
}


button {
	border: none;
	padding: 0;
	cursor: pointer;
}

li {
	list-style: none;
}

.body {
	min-width: 320px;
	overflow-x: hidden;
}

.container {
	padding: 0 20px;
}

@media (min-width: 640px) {
	.container {
		padding: 0 30px;
	}
}

@media (min-width: 768px) {
	.container {
		padding: 0 40px;
	}
}

@media (min-width: 1024px) { 
	.container {
		max-width: 1200px; // Для экранов размера > 1024 и < 1440 делаем тут красоту (1360 например)
		margin: 0 auto;
	}
}

@media (min-width: 1440px) { 
	.container {
		max-width: 1320px;
	}
}

.header {
	background-color: $accent;

	&__inner {
		min-height: 80px;
		display: flex;
		justify-content: space-between;
		text-align: center;
	}
}

@media (min-width: 640px) {
	.header {
		&__inner {
			min-height: 100px;
		}
	}
}

.logo__link-img {
	margin: 7px;
}

@media (min-width: 640px) {
	.logo__link-img {
		margin: 17px;
	}
}

@media (min-width: 768px) {
	.logo__link-img {
		margin-left: 0px;
	}
}

.menu__btn {
	margin: 20px 0;
	width: 40px;
	height: 40px;
	border-radius: 3px;
	background-color: #fff;
	position: relative;

	&::after {
		content: "";
		width: 13px;
		height: 2px;
		border-radius: 1px;
		background-color: $accent;
		position: absolute;
		top: 15px;
		left: 14px;
		box-shadow: 0 4px 0 0 $accent, 0 8px 0 0 $accent;
	}
}

@media (min-width: 640px) {
	.menu__btn {
		margin: 30px 0;
	}
}

@media (min-width: 1440px) { 
	.menu__btn {
		margin: 30px 80px 30px 0;
	}
}